.section_news{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}
.section_news::after {
    content: "";
    display: block;
    width: 320px;
    height: 3px;
    margin: 40px auto 30px;
    background-color: #fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.6;
    margin: 0;
    box-sizing: border-box;
}


